# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

In [2]:
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
city_csv = "../WeatherPy/final_city.csv"
city_df = pd.read_csv(city_csv)
city_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,chapais,49.7834,-74.8492,-22.41,100,100,0.84,CA,1639542663
1,1,longyearbyen,78.2186,15.6401,-2.09,74,0,8.23,SJ,1639542663
2,2,rikitea,-23.1203,-134.9692,25.83,69,19,1.50,PF,1639542664
3,3,padang,-0.9492,100.3543,29.03,80,96,2.92,ID,1639542651
4,4,mount isa,-20.7333,139.5000,41.87,17,4,3.60,AU,1639542664
5,5,bredasdorp,-34.5322,20.0403,14.60,73,100,4.57,ZA,1639542664
6,6,aleysk,52.4926,82.7822,-16.37,91,37,4.58,RU,1639542664
7,7,atuona,-9.8000,-139.0333,26.04,73,46,7.19,PF,1639542428
8,8,lebu,-37.6167,-73.6500,11.34,83,0,7.09,CL,1639542665
9,9,ushuaia,-54.8000,-68.3000,8.81,66,40,10.29,AR,1639542666

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]

In [5]:
figure_layout = {
    'width': '500px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px'
}



fig = gmaps.figure(zoom_level = 1, center = (0,0), layout=figure_layout)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='500px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#weather conditions
city_df = city_df[city_df['Max Temp'] < 30]
city_df = city_df[city_df['Max Temp'] > 20]
city_df = city_df[city_df['Wind Speed'] < 10]
city_df = city_df[city_df['Cloudiness'] < 50]

#drop na
city_df = city_df.dropna()

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = city_df

hotel_df["Hotel Name"] = ""

#pramas
target_type = "lodging"
radius = 5000

# rewrite params dict
params = {
    "types": target_type,
    "radius": radius,
    "key": g_key
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response_json = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = response_json["results"][0]["name"]
        
    
    
    except:
        print(f"{row['City']} not found")
    



hotel_df.head(10)

nangomba not found
beloha not found

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
2,2,rikitea,-23.1203,-134.9692,25.83,69,19,1.50,PF,1639542664,People ThankYou
7,7,atuona,-9.8000,-139.0333,26.04,73,46,7.19,PF,1639542428,Villa Enata
13,13,mar del plata,-38.0023,-57.5575,20.05,86,0,0.89,AR,1639542667,Gran Hotel Mar del Plata
14,14,port alfred,-33.5906,26.8910,20.75,79,6,6.21,ZA,1639542668,The Halyards Hotel
26,26,nishihara,26.1842,127.7558,22.03,56,20,6.17,JP,1639542601,Minshuku Agaihama
30,30,avarua,-21.2078,-159.7750,28.03,78,20,5.14,CK,1639542672,Paradise Inn
35,35,hobart,-42.8794,147.3294,24.51,62,40,0.89,AU,1639542603,Mantra on Collins Hobart
49,49,vaini,-21.2000,-175.2000,28.09,74,20,4.63,TO,1639542677,Keleti Beach Resort
58,58,busselton,-33.6500,115.3333,24.47,43,0,5.48,AU,1639542624,Observatory Guest House
72,72,mahebourg,-20.4081,57.7000,27.92,69,40,6.17,MU,1639542683,Shandrani Beachcomber Resort & Spa

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
markers = gmaps.marker_layer(locations,
    info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()])

fig.add_layer(markers)
fig

# Display figure

fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))